<pb-ui-table-widget-renderer
  [resolvedConfig]="facade.resolvedConfig()"
  [columns]="facade.columns()"
  [visibleRows]="facade.visibleRows()"
  [processedRows]="facade.processedRows()"
  [currentPage]="facade.currentPage()"
  [totalPages]="facade.totalPages()"
  [showActionsColumn]="facade.showActionsColumn()"
  [searchSidebarOpen]="facade.searchSidebarOpen()"
  [searchColumn]="facade.searchColumn()"
  [searchCondition]="facade.searchCondition()"
  [searchValue]="facade.searchValue()"
  [searchText]="facade.searchText()"
  [sortColumn]="facade.sortColumn()"
  [sortDirection]="facade.sortDirection()"
  [selectedRow]="facade.selectedRow()"
  (sortColumnChange)="facade.onSortColumn($event)"
  (columnFilterChange)="facade.onColumnFilterChange($event.columnKey, $event.value)"
  (searchTextChange)="facade.onSearchTextChange($event)"
  (rowSelect)="facade.selectRow($event)"
  (prevPage)="facade.goToPreviousPage()"
  (nextPage)="facade.goToNextPage()"
  (csvDownload)="facade.downloadCsv()"
  (sidebarOpen)="facade.openSearchSidebar()"
  (sidebarClose)="facade.closeSearchSidebar()"
  (searchConditionChange)="facade.onSearchConditionChange($event)"
  (searchValueChange)="facade.onSearchValueChange($event)"
  (searchClear)="facade.clearSearch()"
></pb-ui-table-widget-renderer>
