<pb-ui-text-block-renderer
  [resolvedConfig]="facade.resolvedConfig()"
  [currentVariant]="facade.currentVariant()"
  [isLabelText]="facade.isLabelText()"
  [isRichText]="facade.isRichText()"
  [isCurrency]="facade.isCurrency()"
  [isFilePicker]="facade.isFilePicker()"
  [isDatePicker]="facade.isDatePicker()"
  [showFieldLabel]="facade.showFieldLabel()"
  [inputShellBorderWidth]="facade.inputShellBorderWidth()"
  [inputShellBorderRadius]="facade.inputShellBorderRadius()"
  [textBlockFontSize]="facade.textBlockFontSize()"
  [textBlockLineHeight]="facade.textBlockLineHeight()"
  [textBlockLetterSpacing]="facade.textBlockLetterSpacing()"
  [textBlockFontWeight]="facade.textBlockFontWeight()"
  [textBlockFontStyle]="facade.textBlockFontStyle()"
  [textBlockTextDecoration]="facade.textBlockTextDecoration()"
  [textBlockFontFamily]="facade.textBlockFontFamily()"
  [inputId]="facade.inputId"
  [inputType]="facade.inputType()"
  [inputAutocomplete]="facade.inputAutocomplete()"
  [inputValidationHint]="facade.inputValidationHint()"
  [currencyPrefix]="facade.currencyPrefix()"
  [displayPlaceholder]="facade.displayPlaceholder()"
  [labelTextHtml]="facade.labelTextHtml()"
  [fileDisplayName]="facade.fileDisplayName()"
  [fileButtonLabel]="facade.fileButtonLabel()"
  [fileAccept]="facade.fileAccept()"
  [currentValue]="facade.currentValue()"
  [validationMessage]="facade.validationMessage()"
  [selectedFileNames]="facade.selectedFileNames()"
  (fileChange)="facade.onFileChange($event)"
  (inputChange)="facade.onInputChange($event)"
  (richTextChange)="facade.onRichTextChange($event)"
></pb-ui-text-block-renderer>

