<app-form-preview-content
  [formName]="formNameInput()"
  [formDescription]="formDescriptionInput()"
  [formId]="formIdInput()"
  [datasourceId]="datasourceIdInput()"
  [datasourceLabel]="datasourceLabelInput()"
  [queryId]="queryIdInput()"
  [queryLabel]="queryLabelInput()"
  [queryText]="queryTextInput()"
  [userId]="userIdInput()"
  [jwtToken]="jwtTokenInput()"
  [fields]="fieldsInput()"
  [actions]="actionsInput()"
  [settings]="settingsInput()"
  (closeRequested)="close()">
</app-form-preview-content>
