@use '../../report-right-panel-shared';

.selected-record-actions__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: var(--qo-space-2);
  border-bottom: 1px solid var(--qo-border-color);
  margin-bottom: var(--qo-space-3);

  h3 {
    margin: 0;
    color: var(--qo-color-neutral-900);
    font-size: var(--qo-text-2xl);
    font-weight: var(--qo-font-medium);
  }

  button {
    border: 0;
    background: transparent;
    color: var(--qo-color-neutral-900);
    cursor: pointer;
    padding: 0;
    line-height: 1;
  }
}
