<qo-modal
  class="password-reset-modal-shell"
  [title]="i18n.translate('users.passwordResetTitle')"
  [subtitle]="i18n.translate('users.passwordResetSubtitle')"
  size="md"
  [maxWidth]="'var(--qo-size-430)'"
  panelClass="qo-modal-panel--password-reset"
  (close)="close.emit()"
>
  <div class="password-reset-modal">
    <p>
      {{ i18n.translate('users.passwordResetPrompt') }}
      <strong>{{ user().email }}</strong>?
    </p>
    <span>{{ i18n.translate('users.passwordResetExplanation') }}</span>
  </div>

  <div qo-modal-footer class="password-reset-modal__footer">
    <qo-button variant="link" class="password-reset-modal__cancel" (click)="close.emit()">{{ i18n.translate('users.cancel') }}</qo-button>
    <qo-button variant="secondary" class="password-reset-modal__send" (click)="send.emit()">{{ i18n.translate('users.sendReset') }}</qo-button>
  </div>
</qo-modal>
